#sb1{
float: left;
width: 20%;
height: 200px;
background-color: rgb(47, 75, 87);
}

#sb2{
float: right;
width: 80%;
height: 200px;
background-color: rgb(47, 75, 87);
}

#intro{
float: left;
height: 50px;
width: 100%;
background-color: red;
}

.img{
width: 185px;
height: 185px;
border-radius: 50%;
display: flex;
margin: auto;
padding-top: 2%;
}

.name{
font-size: 30px;
padding-top: 0px;
color: white;
}

.surname{
font-size: 30px;
color: white;
}

.phrase{
font-size: 20px;
color: white;

}

.txtIntro{
color: black;
font-size: 15px;
padding-left: 20px;
}

#formation{
    float: left;
    background-color: brown;
    width: 100%;
}

.txtForm{
    font-weight: 100px;
    font-size: 20px;
    padding-left: 20px;
}

#Bac1{
    float: left;
    font-size: 15px;
    width: 20%;
    background-color: blueviolet;


}

#Brevet1{
    float: right;
    font-size: 15px;
    width: 50%;
    background-color: aqua;

}

.txtBac1-1{
    padding-left: 20px;
    
}

.txtBac1-2{
    padding-left: 20px;

}

.txtBac1-3{
    padding-left: 20px;

}

.txtBrevet1-1{

}

.txtBrevet1-2{

}

.txtBrevet1-3{

}

#Comp{
    float: left;
    width: 100%;
    background-color: rgb(136, 215, 40);
}

.txtComp{
    font-weight: 100px;
    font-size: 20px;
    padding-left: 20px;
}

#Comp1{
    width:30%;
    height:100px;
    float: left;
    background-color: blue;
    top: 20px;
    left: 20px;
    padding-left: 20px;

}
.txtComp1{
    
}

#Comp2{
    width:30%;
    height:100px;
    float: left;
    background-color: blue;
    top: 20px;
    left: 20px;
    padding-left: 20px;
}
.txtComp2{
    
}

#Comp3{
    width:30%;
    height:100px;
    float: left;
    background-color: blue;
    top: 20px;
    left: 20px;
    padding-left: 20px;
}
.txtComp3{
    
}

#Comp4{
    width:30%;
    height:100px;
    float: left;
    background-color: blue;
    top: 20px;
    left: 20px;
    padding-left: 20px;
}
.txtComp4{
    
}

#Comp5{
    width:30%;
    height:100px;
    float: left;
    background-color: blue;
    top: 20px;
    left: 20px;
    padding-left: 20px;
}
.txtComp5{
    
}

#Comp6{
    width:30%;
    height:100px;
    float: left;
    background-color: blue;
    top: 20px;
    left: 20px;
    padding-left: 20px;
}
.txtComp6{
    
}

#ExpPro{
    float: left;
    background-color: brown;
    width: 100%;
}

.txtExpPro{
    font-weight: 100px;
    font-size: 20px;
    padding-left: 20px;
}

.txtAmundi{
    padding-left: 20px;
}

.txtDate{
    padding-left: 20px;
}

#liste{
    padding-left: 20px;
}

#conteneur{
    float: left;
    background-color: tomato;
    height: 120px;
    width: 100%;
    

}

#langues{
    float: left;
    height: 100%;
    width: 50%;
    background-color: rgb(47, 75, 87);
}

.txtlangues{
    padding-left: 20px;
}

#centresInt{
    float: right;
    height: 100%;
    width: 50%;
    background-color: rgb(28, 183, 100);
}

.txtcentresInt{
    padding-left: 20px;
}

