
#sb1{

float: left;
width: 20%;
height: 200px;
background-color: crimson;
}

#sb2{

float: right;
width: 80%;
height: 200px;
background-color: brown;
}

#intro{
background-color: cadetblue;
border-left: 0px;
height: 300px;
width: 100%;
border-top: 0px;
}

.img{
width: 150px;
height: 150px;
padding-left: 25px;
padding-top: 25px;
}
